<section class="why-choose-us ">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center ">
          <h2 class="section-title">
            <span class="text-why">Why</span> <span class="text-choose-us">Choose Us</span>
          </h2>
          <p class="section-description">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            nibh euismod tincidunt ut laoreet dolore magna.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-center">
          <div class="icon-box">
            <i class="fas fa-user-md icon"></i>
            <h4 class="icon-title">Qualified Doctors</h4>
            <p class="icon-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="icon-box">
            <i class="fas fa-hospital icon"></i>
            <h4 class="icon-title">Modern Equipment</h4>
            <p class="icon-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="icon-box">
            <i class="fas fa-ambulance icon"></i>
            <h4 class="icon-title">24/7 Support</h4>
            <p class="icon-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="icon-box">
            <i class="fas fa-notes-medical icon"></i>
            <h4 class="icon-title">Health Insurance</h4>
            <p class="icon-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </section>