.gallery-header {
  background-color: #1d77de;
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
    color: white;
  }
  
  .gallery-title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .breadcrumb {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  .breadcrumb-item a {
    color: white;
    cursor: pointer;
    transition: all .3s;
  }

  .breadcrumb-item a:hover {
    color: #6639c6; 
    
  }
  
  .breadcrumb-item.active {
    color: #ccc;
  }
  
  .text-end {
    text-align: right !important;
  }
  
  .col-md-6.text-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  /* segundo bloque */


  .gallery-section {
    padding: 2rem 0;
  }
  
  .section-title {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    color: #333;
  }
  
  .img-fluid {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease; 
  }
  
  .img-fluid:hover {
    transform: scale(1.05); 
  }
  

