.about-section {
    background-color: #f8f9fa; 
    padding: 6rem 0;
    width: 100%; 
    margin: auto; 
}
  
  .section-title {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: .7rem;
    color: #333;
  }
  
  .about-title {
    font-size: 2rem;
    color: #0b4e95;
    margin-bottom: 1.3rem;
  }
  
  .text-purple {
    color: #6f42c1;
  }
  
  .about-section p {
    font-size: 1.1rem;
    text-align: justify;
    color: #555;
    margin-bottom: 1rem;
  }
  

  .enlarged-img {
    width: 100%; 
    margin: auto; 
    height: 450px; 
    object-fit: cover; 
  }
  
  .service-box {
    display: flex;
    padding: 1.2rem;
    padding-left: 10px;
    border: 1px solid #5c16e8; 
    text-align: center;
    justify-content: center;
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 10px;
  }

  .service-box i.icon-left {
    margin-right: 13px;
    font-size: 1rem; 
    margin-top: .1rem;
    color: #007bff; 
  }
  
  .service-box h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }



/* Responsive */

@media (max-width: 1200px) {
  .about-section {
      padding: 5rem 0;
  }
  
  .section-title {
      font-size: 1.05rem;
  }
  
  .about-title {
      font-size: 2rem;
  }
  
  .about-section p {
      font-size: 1rem;
  }

  .service-box {
    padding: .8rem 0.1rem;
}

.service-box i.icon-left {
  margin-right: 9px;
  font-size: .9rem;
  margin-top: 0rem; 
  color: #007bff; 
}

  .service-box h4 {
    font-size: .9rem;
}

.img-fluid {
  max-width: 90%;
}

.enlarged-img {
  max-width: 100%; 
  margin: auto;
  margin-left: 2%; 
  height: 400px;
  object-fit: cover; 
}
  
}



@media (max-width: 992px) {
  .about-section {
      padding: 5rem 0;
  }
  
  .section-title {
      font-size: 1rem;
  }
  
  .about-title {
      font-size: 2rem;
  }
  
  .about-section p {
      font-size: 1rem;
  }

  .service-box h4 {
    font-size: 1rem;
}
  
.enlarged-img {
  max-width: 90%; 
  margin-left: 7%; 
  height: 400px;
}
}



@media (max-width: 768px) {
  .about-section {
      padding: 4rem 0;
  }
  
  .section-title {
      font-size: 1rem;
  }
  
  .about-title {
      font-size: 2rem;
  }
  
  .about-section p {
      font-size: 1rem;
  }
  
  .enlarged-img {
      height: 390px;
  }

  .row.mt-4.bloque-service{
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .service-box {
      padding: 1rem;
      padding-left: 30px;
      border-radius: 5px;
      display: flex;
      justify-content: flex-start;  
      margin-left: 0%;
  }
  
  .service-box i.icon-left {
      font-size: 1.1rem;
      text-align: left;
  }
  
  .service-box h4 {
      font-size: 1rem;
      margin-left: 7px;
      font-weight: 400;
  }

  .enlarged-img {
    max-width: 100%; 
    margin-left: 0%; 
    height: 400px;
  }
}



@media (max-width: 490px) {
  .about-section {
      padding: 3rem 0;
  }
  
  .section-title {
    margin-top: 2rem;
    margin-left: 20px;
    font-size: 1.2rem;
  }
  
  .about-title {
    margin-left: 20px;
    font-size: 2.3rem;
  }
  
  .about-section p {
    width: 90%;
    margin: auto;
    text-align: justify;
    font-size: 1.2rem;
  }
  
  .enlarged-img {
      height: 350px;
      margin-left: 0; 
  }
  
  .service-box {
      width: 90%;
      margin: auto;
      border-radius: 15px;
      border: 1px solid rgb(50, 84, 218) ;
      padding: 1.2rem 0.5rem;
  }
  
  .service-box i.icon-left {
      font-size: 1.2rem;
  }
  
  .service-box h4 {
      font-size: 1.1rem;
  }
}