<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/logo-web-medic.png" alt="Logo" width="200">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-us">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link">Pages</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/about-us">Sobre Nosotros</a></li>
              <li><a class="dropdown-item" routerLink="/appointment">Appointment</a></li>
              <li><a class="dropdown-item" routerLink="/gallery">Galería de Imágenes</a></li>
              <li><a class="dropdown-item" routerLink="/contact">Contactos</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link">Servicios</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/servicios">Servicios</a></li>
              <li><a class="dropdown-item" routerLink="/servicio-detalles">Detalles de Servicios</a></li>
            </ul>
            <li class="nav-item dropdown">
              <a class="nav-link">Doctores</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/doctor">Doctores</a></li>
                <li><a class="dropdown-item" routerLink="/doctor-detalles">Detalles de Doctores</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link">Blog</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/blog">Blogs</a></li>
              <li><a class="dropdown-item" routerLink="/blog-detalles">Detalles de Blogs</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>