<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container d-flex align-items-center">
    <!-- Botón de menú colocado antes del logo -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand ms-2" href="#">
      <img src="assets/logo letras.svg" alt="Logo" width="200">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
        </li>

        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link">Páginas</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/about-us" routerLinkActive="active">Sobre Nosotros</a></li>
            <li><a class="dropdown-item" routerLink="/appointment" routerLinkActive="active">Reservar cita</a></li>
            <li><a class="dropdown-item" routerLink="/gallery" routerLinkActive="active">Galería de Imágenes</a></li>
            <li><a class="dropdown-item" routerLink="/contact" routerLinkActive="active">Contactos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link">Servicios</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/servicios" routerLinkActive="active">Servicios</a></li>
            <li><a class="dropdown-item" routerLink="/servicio-detalles" routerLinkActive="active">Detalles de Servicios</a></li>
          </ul>
        </li>
        <!--
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link">Doctores</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/doctor" routerLinkActive="active">Doctores</a></li>
            <li><a class="dropdown-item" routerLink="/doctor-detalles" routerLinkActive="active">Detalles de Doctores</a></li>
          </ul>
        </li>
        -->
        <!--
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link">Blog</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/blog" routerLinkActive="active">Blogs</a></li>
            <li><a class="dropdown-item" routerLink="/blog-detalles" routerLinkActive="active">Detalles de Blogs</a></li>
          </ul>
        </li>
        -->
      </ul>
    </div>
  </div>
</nav>