.contact-header {
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
    color: white;
  }
  
  .contact-title {
    font-size: 3rem;
    font-weight: bold;
  }
  

  .breadcrumb {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
    font-size: 1.35rem;
    display: flex;
    justify-content: flex-end;
  }
  
  .breadcrumb-item a {
    color: white;
    cursor: pointer;
  }

  .breadcrumb-item a:hover {
    color: #6639c6; 
  }
  
  .breadcrumb-item.active {
    color: #ccc;
  }
  
  .text-end {
    text-align: right !important;
  }
  
  .col-md-6.text-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  /* segundo bloque */

  .contact-form-section {
    background-color: #f8f9fa;
    padding: 4rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    font-size: 2.25rem; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #333;
    text-align: left;
  }
  
  .appointment-form .form-control {
    padding: 0.85rem; 
    font-size: 1.1rem; 
    border-radius: 5px;
    border: 1px solid #b2b1b1; 
    margin-bottom: 1.5rem; 
    resize: none; 
  }
  
  .appointment-form .form-control:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  }
  
  .submit-btn {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.6rem 2.5rem !important; 
    font-size: 1rem !important; 
    border-radius: 25px;
    text-transform: uppercase;
    display: inline-block;
    color: white; 
  }
  
  .submit-btn:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
    color: white; 
  }

  .subscribe-section {
    background-color: #f8f9fa;
    padding: 3rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .subscribe-title {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .subscribe-text {
    font-size: 1.2rem;
    color: #555;
  }
  
  .form-control {
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc; 
  }


  .btn-subscribe {
    background-color: #f0f0f0; 
    border-color: #2178ce; 
    font-size: 1.2rem;
    color: #333; 
  }
  
  .btn-subscribe:hover {
    background-color: #007bff; 
    border-color: #1378d7; 
    color: #e9e6e6; 
  }