<section class="patient-feedback py-5">
    <div class="container">

      <div class="row">
        <div class="col-12 text-center mb-5">
          <h2 class="section-title">
            Que opinan <span class="text-highlight">nuestros pacientes</span>
          </h2>
          <p class="section-subtitle">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </p>
        </div>
      </div>
      

      <div class="row">
        <div class="col-md-4">
          <div class="feedback-card">
            <div class="feedback-image">
              <img src="/assets/paciente feedback.png" alt="Paciente Feedback" class="img-fluid">
            </div>
            <div class="feedback-info">
              <h4 class="feedback-name">Dr. pedro</h4>
              <p class="feedback-comment">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
            </div>
            <div class="feedback-rating">
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="feedback-card">
            <div class="feedback-image">
              <img src="/assets/paciente feedback.png" alt="Paciente Feedback" class="img-fluid">
            </div>
            <div class="feedback-info">
              <h4 class="feedback-name">dr. Jane</h4>
              <p class="feedback-comment">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
            </div>
            <div class="feedback-rating">
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feedback-card">
            <div class="feedback-image">
              <img src="/assets/paciente feedback.png" alt="Paciente Feedback" class="img-fluid">
            </div>
            <div class="feedback-info">
              <h4 class="feedback-name">dr. hola</h4>
              <p class="feedback-comment">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
            </div>
            <div class="feedback-rating">
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>