<section class="latest-news py-5">
    <div class="container">

      <div class="row">
        <div class="col-12 text-center mb-5">
          <h2 class="section-title">
            Ultimas <span class="text-highlight">Noticias & Blogs</span>
          </h2>
          <p class="section-subtitle">
            Stay updated with the latest news and our blog posts.
          </p>
        </div>
      </div>
      

      <div class="row">
        <div class="col-md-4">
          <div class="blog-card" routerLink="/blog">
            <div class="blog-image">
              <img src="/assets/imagen blogs.png" alt="Blog Image" class="img-fluid">
              <div class="blog-date">
                <span class="day">12</span>
                <span class="month">Aug</span>
              </div>
            </div>
            <div class="blog-content">
              <h4 class="blog-title">How to Stay Healthy</h4>
              <p class="blog-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
              <a href="#" class="read-more">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="blog-card" routerLink="/blog">
            <div class="blog-image">
              <img src="/assets/imagen blogs 2.png" alt="Blog Image" class="img-fluid">
              <div class="blog-date">
                <span class="day">15</span>
                <span class="month">Sep</span>
              </div>
            </div>
            <div class="blog-content">
              <h4 class="blog-title">Healthy Diet Tips</h4>
              <p class="blog-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
              <a href="#" class="read-more">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-card" routerLink="/blog">
            <div class="blog-image">
              <img src="/assets/imagen blogs 3.png" alt="Blog Image" class="img-fluid">
              <div class="blog-date">
                <span class="day">20</span>
                <span class="month">Oct</span>
              </div>
            </div>
            <div class="blog-content">
              <h4 class="blog-title">Exercise Regularly</h4>
              <p class="blog-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
              <a href="#" class="read-more">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>