.services-header {
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
    color: white;
  }
  
  .services-title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .breadcrumb {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  .breadcrumb-item a {
    color: white;
    cursor: pointer;
    transition: all .3s;
  }

  .breadcrumb-item a:hover {
    color: #6639c6; 
  }
  
  .breadcrumb-item.active {
    color: #ccc;
  }
  
  .text-end {
    text-align: right !important;
  }
  
  .col-md-6.text-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .services-section {
    padding: 3rem 0;
  }
  
  .service-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 3rem;
    transition: transform 0.3s ease;
  }
  
  .service-box:hover {
    transform: translateY(-5px);
  }
  
  .service-image img {
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    height: auto;
  }
  
  .service-title {
    font-size: 1.3rem;
    margin-top: 15px;
    color: #333;
  }
  
  .service-description {
    font-size: 1.1rem;
    color: #777;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .read-more {
    color: #007bff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .read-more:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  