
.carousel {
  position: relative;
  background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.933) 6%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(245, 244, 244, 0.964) 93%), 
      url('/assets/consultorio.1.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

  .carousel-indicators {
    display: none;
}

.carousel-item {
    height: 100vh; 
    min-height: 250px;
    position: relative;
    color: white;
    overflow: hidden;
  }
  
  .carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fadeIn 1.5s forwards 1s, fadeOut 1s forwards 6s;
  }
  
  .carousel-caption {
    display: flex;
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
    padding: 1rem 2rem;
    background-color: transparent;
    border-radius: 10px;
  }
  
  .carousel-caption h5 {
    font-size: 1.8rem;
    font-weight: bold;
    opacity: 0;
    animation: slideInLeft 1.5s forwards 1.5s, fadeOut 1s forwards 6s;
    transform: translateX(-100%);
  }
  
  .carousel-caption p {
    font-size: 1.5rem;
    opacity: 0;
    animation: slideInRight 1.5s forwards 1.5s, fadeOut 1s forwards 6s; 
    transform: translateX(100%);
  }
  
  .animate-btn {
    margin-top: 2rem;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    opacity: 0;
    border-radius: 25px;
    animation: slideUp 0.5s forwards 2s, fadeOut 1s forwards 6s;
    transform: translateY(50px);
  }
  
  @keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes slideInLeft {
    to {
        opacity: 1;
        transform: translateX(0); 
    }
}

@keyframes slideInRight {
    to {
        opacity: 1;
        transform: translateX(0); 
    }
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: transparent;
    border-radius: 50%;
  }

  
  @media (max-width: 992px) {

    .carousel-caption {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  
    .carousel-caption h5 {
      width: 120%;
      margin: auto;
      font-size: 1.5rem;
    }
  
    .carousel-caption p {
      width: 120%;
      margin: auto;
      font-size: 1.3rem;
    }
  
    .animate-btn {
      margin: auto;
      margin-top: 2rem;
      margin-left: 50px;
      font-size: 1rem;
      padding: 0.5rem 1.2rem;
    }

  }
  
  @media (max-width: 768px) {
    .carousel-item {
      height: 80vh; 
      min-height: 250px;
      position: relative;
      color: white;
      overflow: hidden;
    }

    .carousel-caption h5,
    .carousel-caption p,
    .animate-btn {
      opacity: 1; 
      animation: none; 
      transform: none; 
    }
  
    .carousel-caption h5 {
      width: 100%;
      font-size: 1.6rem; 
    }
  
    .carousel-caption p {
      font-size: 1.3rem; 
    }
  
    .animate-btn {
      font-size: 1.2rem;
      padding: 0.5rem 1rem; 
    }
  
    .carousel-caption {
      top: 40%; 
      padding: 0.5rem 1rem;
    }
  }
  
  @media (max-width: 490px) {
    .carousel-image {
      position: absolute;
      top: -2%;
      left: 0;
      width: 100%;
      height: 105%;
      background-size: cover;
      background-position: center;
      opacity: 0;
      animation: fadeIn 1.5s forwards 1s, fadeOut 1s forwards 6s;
    }

    .carousel-caption h5 {
      font-size: 1.5rem;
      opacity: 1;
      transform: none;
      animation: none;
    }
  
    .carousel-caption p {
      font-size: 1.2rem;
      opacity: 1;
      transform: none;
      animation: none;
    }
  
    .animate-btn {
      font-size: 1rem;
      padding: 0.4rem 1rem;
      opacity: 1;
      transform: none;
      animation: none;
    }
  
    .carousel-caption {
      top: 40%; 
      padding: 0.5rem 1rem;
    }
  }



