
.carousel {
    position: relative;
    background-image: url('/assets/fondo carrusel-hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .carousel-indicators {
    display: none;
}

.carousel-item {
    height: 85vh; 
    min-height: 300px;
    position: relative;
    color: white;
    overflow: hidden;
  }
  
  .carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fadeIn 1.5s forwards 1s, fadeOut 1s forwards 6s;
  }
  
  .carousel-caption {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
    padding: 1rem 2rem;
    background-color: transparent;
    border-radius: 10px;
  }
  
  .carousel-caption h5 {
    font-size: 3rem;
    font-weight: bold;
    opacity: 0;
    animation: slideInLeft 1.5s forwards 1.5s, fadeOut 1s forwards 6s;
    transform: translateX(-100%);
  }
  
  .carousel-caption p {
    font-size: 1.9rem;
    opacity: 0;
    animation: slideInRight 1.5s forwards 1.5s, fadeOut 1s forwards 6s; 
    transform: translateX(100%);
  }
  
  .animate-btn {
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
    opacity: 0;
    animation: slideUp 0.5s forwards 2s, fadeOut 1s forwards 6s;
    transform: translateY(50px);
  }
  
  @keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes slideInLeft {
    to {
        opacity: 1;
        transform: translateX(0); /* Se mueve al centro desde la izquierda */
    }
}

@keyframes slideInRight {
    to {
        opacity: 1;
        transform: translateX(0); /* Se mueve al centro desde la derecha */
    }
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0); /* Se mueve al centro desde abajo */
    }
}
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: transparent;
    border-radius: 50%;
    padding: 10px;
  }