.doctor-details-header {
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
    color: white;
  }
  
  .doctor-details-title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .breadcrumb {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  .breadcrumb-item a {
    color: white;
    transition: all .3s;
  }
  .breadcrumb-item a:hover {
    color: #6639c6; 
    cursor: pointer;
  }
  
  .breadcrumb-item.active {
    color: #ccc;
  }
  
  .text-end {
    text-align: right !important;
  }
  
  .col-md-6.text-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .doctor-detail-section {
    padding: 5rem 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .img-fluid {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .doctor-name h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
  }
  
  .doctor-specialty h4 {
    font-size: 1.3rem;
    color: #555;
  }
  
  .doctor-description p {
    font-size: 1.2rem;
    color: #666;
  }
  
  .doctor-contact p {
    font-size: 1.2rem;
    color: #444;
  }
  
  .doctor-social .social-icon {
    font-size: 1.3rem;
    padding: 10px;
    color: #007bff;
    margin-right: 15px;
    text-decoration: none;
  }
  
  .doctor-social .social-icon:hover {
    color: #0056b3;
  }
  
  .doctor-appointment .btn {
    background-color: #007bff;
    color: #fff;
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 5px;
  }
  
  .doctor-appointment .btn:hover {
    background-color: #0056b3;
  }

