<section class="our-services">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center mb-5">
          <h2 class="section-title">
            <span class="text-our">Our </span> <span class="text-services">Services</span>
          </h2>
          <p class="section-subtitle">Explore the range of services we offer to help you stay healthy.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-container">
            <div class="service-box align-right">
              <h4 class="service-title">Service One</h4>
              <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="icon-box">
              <i class="fas fa-stethoscope service-icon"></i>
            </div>
          </div>
          <div class="service-container">
            <div class="service-box align-right">
              <h4 class="service-title">Service Two</h4>
              <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="icon-box">
              <i class="fas fa-heartbeat service-icon"></i>
            </div>
          </div>
          <div class="service-container">
            <div class="service-box align-right">
              <h4 class="service-title">Service Three</h4>
              <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="icon-box">
              <i class="fas fa-pills service-icon"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="service-box-img">
            <img src="/assets/imagen nuestro servicios.png" alt="Nuestro Servicios" class="service-image">
          </div>
        </div>
        <div class="col-md-4">
            <div class="service-container">
              <div class="icon-box">
                <i class="fas fa-user-md service-icon"></i>
              </div>
              <div class="service-box">
                <h4 class="service-title">Service Four</h4>
                <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="service-container">
              <div class="icon-box">
                <i class="fas fa-hospital service-icon"></i>
              </div>
              <div class="service-box">
                <h4 class="service-title">Service Five</h4>
                <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="service-container">
              <div class="icon-box">
                <i class="fas fa-ambulance service-icon"></i>
              </div>
              <div class="service-box">
                <h4 class="service-title">Service Six</h4>
                <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center mt-4">
          <a href="#" class="btn btn-primary btn-all-services">All Services</a>
        </div>
      </div>
    </div>
  </section>