.why-choose-us {
    background-color: #f8f9fa;
    padding: 0;
  }

  .text-center{
    margin-top: 1.6rem;
    margin-bottom: 3.5rem;
  }
  
  .text-why {
    font-size: 2rem;
    margin-right: .5rem;
    font-weight: 600;
    color: #104074;
  }

  .text-choose-us{
    font-size: 2rem;
    font-weight: 600;
    color: #5937d5;
  }
  
  
  .section-description {
    width:60%;
    margin: auto ;
    font-size: 1.3rem;
    color: #777;
    margin-top: 1rem;
  }

  
  .icon-box {
    background-color: white;
    padding: 2rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .icon-box:hover {
    transform: translateY(-10px);
  }
  
  .icon {
    font-size: 3rem;
    color: #4d4b4b;
    margin-bottom: 2.5rem;
  }
  
  .icon-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.2rem;
  }
  
  .icon-description {
    font-size: 1.3rem;
    color: #777;
  }


  /* Responsive */

@media (max-width: 992px) {
  .why-choose-us .col-md-3 {
        flex: 0 0 50%; 
        max-width: 50%; 
        margin-bottom: 1.5rem; 
    }

  .section-description {
      font-size: 1.2rem;
      width: 75%; 
  }

  .icon {
    font-size: 2.5rem;
  }

  .icon-title {
      font-size: 1.3rem;
  }

  .icon-description {
      font-size: 1.15rem;
  }
}



@media (max-width: 768px) {
  .text-why, .text-choose-us {
      font-size: 2rem;
  }

  .section-description {
      font-size: 1.1rem;
      width: 85%; 
  }

  .icon {
      font-size: 2.4rem;
  }

  .icon-title {
      font-size: 1.3rem;
  }

  .icon-description {
      font-size: 1.1rem;
  }

  .icon-box {
      padding: 1.8rem 1.3rem; 
  }
}


@media (max-width: 480px) {
  .text-center{
    margin-top: .5rem;
  }

  .text-why, .text-choose-us {
      font-size: 2rem;
  }

  .section-description {
      font-size: 1.25rem;
      width: 90%; 
  }

  .icon {
      font-size: 2.2rem;
      margin-bottom: 2rem;
  }

  .icon-title {
      font-size: 1.2rem;
  }

  .icon-description {
      font-size: 1.05rem;
  }

  .icon-box {
      padding: 1.5rem 1rem; 
  }
}