<header class="doctors-header" style="background-image: url('/assets/imagen header about us.png');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h1 class="doctors-title">Doctores</h1>
        </div>
        <div class="col-md-6 text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Doctores</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </header>



  <section class="doctors-section py-5">
    <div class="container">
      <div class="row">
        <!-- Bloque de Doctor 1 -->
        <div class="col-md-6 mb-4">
          <div class="doctor-box text-center" routerLink="/doctor-detalles">
            <!-- Foto del Doctor -->
            <div class="doctor-image">
              <img src="/assets/doctor pagina doctor.png" alt="Doctor Image" class="img-fluid rounded-circle">
            </div>
            <!-- Información del Doctor -->
            <div class="doctor-info mt-3">
              <h3 class="doctor-name">Dr. John Doe</h3>
              <p class="doctor-specialty">Cardiologist</p>
            </div>
            <!-- Redes Sociales -->
            <div class="doctor-social">
              <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
              <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
  

        <!-- Bloque de Doctor 2 -->
        <div class="col-md-6 mb-4">
          <div class="doctor-box text-center" routerLink="/doctor-detalles">

            <div class="doctor-image">
              <img src="/assets/doctor pagina doctor.png" alt="Doctor Image" class="img-fluid rounded-circle">
            </div>

            <div class="doctor-info mt-3">
              <h3 class="doctor-name">Dr. Jane Smith</h3>
              <p class="doctor-specialty">Pediatrician</p>
            </div>

            <div class="doctor-social">
              <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
              <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="subscribe-section">
   <app-suscribers/>
  </section>