<header class="blog-details-header" style="background-image: url('/assets/imagen header about us.png');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h1 class="blog-details-title">Detalles del Blog</h1>
        </div>
        <div class="col-md-6 text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/home" class="breadcrumb-link">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a routerLink="/blog" class="breadcrumb-link">Blog</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Detalles del Blog</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </header>

  
  <section class="blog-details-content">
    <div class="container">
      <div class="row">
  
        <!-- Lado Izquierdo: 65% -->
        <div class="col-md-8">
          <!-- Bloque 1: Imagen -->
          <div class="blog-image mb-4">
            <img src="/assets/imagen blog-details.png" alt="Blog Detail Image" class="img-fluid">
          </div>
  
          <!-- Bloque 2: Título -->
          <div class="blog-title mb-3">
            <h2>Título del Blog Detalle</h2>
          </div>
  
          <!-- Bloque 3: Detalles de Publicación -->
          <div class="blog-meta mb-4">
            <span class="author">Por John Doe</span> |
            <span class="date">Publicado el 29 de Agosto, 2024</span> |
            <span class="category">Campo de Investigación</span>
            <a href="#comments" class="comments-link"><i class="fas fa-comments"></i> 5 Comentarios</a>
          </div>
  
          <!-- Bloque 4: Primer Párrafo -->
          <div class="blog-paragraph">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
          </div>
  
          <!-- Bloque 5: Segundo Párrafo -->
          <div class="blog-paragraph">
            <p>Cras venenatis euismod malesuada. Nullam quis lorem sed felis cursus scelerisque nec at risus.</p>
          </div>
  
          <!-- Bloque 6: Párrafo con Border Left Púrpura -->
          <div class="blog-quote">
            <p>"Este es un bloque de cita o párrafo destacado con un borde izquierdo de color púrpura."</p>
          </div>
  
          <!-- Bloque 7: Tercer Párrafo -->
          <div class="blog-paragraph">
            <p>Aenean sit amet ligula risus. Vestibulum in purus ac erat elementum egestas.</p>
          </div>
  
          <!-- Bloque 8: Cuarto Párrafo -->
          <div class="blog-paragraph">
            <p>Curabitur quis arcu non nunc mattis scelerisque ut et magna.</p>
          </div>
  
          <!-- Bloque 9: Share con Íconos de Redes Sociales -->
          <div class="blog-share">
            <span>Share:</span>
            <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>

  
         <!-- Lado Derecho: 35% -->

        <div class="col-md-4">

          <!-- Bloque de Búsqueda -->
           
          <div class="search-widget mb-4">
            <h3 class="widget-title">Buscar</h3>
            <div class="search-bar">
              <input type="text" class="form-control" placeholder="Buscar...">
              <button class="search-button">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
  
             <!-- Segundo Bloque: Categorías -->

            <div class="categories-widget">
                <h3 class="widget-title">Categorías</h3>
                <ul class="categories-list">
                <li><a href="#">Business</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="#">Tourist</a></li>
                <li><a href="#">Workshop</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Fine Arts</a></li>
                </ul>
            </div>

             <!-- Tercer Bloque: Popular Post -->

            <div class="popular-posts-widget">
                <h3 class="widget-title">Popular Post</h3>
            

                <div class="popular-post d-flex mb-5">
                <div class="post-img">
                    <img src="/assets/imagen blog-details.png" alt="Post 1" class="img-fluid">
                </div>
                <div class="post-info ms-3">
                    <a href="#">Título del Post 1</a>
                </div>
                </div>
            

                <div class="popular-post d-flex mb-5">
                <div class="post-img">
                    <img src="/assets/imagen blog-details.png" alt="Post 2" class="img-fluid">
                </div>
                <div class="post-info ms-3">
                    <a href="#">Título del Post 2</a>
                </div>
                </div>
            

                <div class="popular-post d-flex mb-3">
                <div class="post-img">
                    <img src="/assets/imagen blog-details.png" alt="Post 3" class="img-fluid">
                </div>
                <div class="post-info ms-3">
                    <a href="#">Título del Post 3</a>
                </div>
                </div>
            </div>
          
        </div>
      </div>
    </div>
  </section>



 <!-- Bloque de Comentarios -->

<div class="container">
    <div class="comments-section mb-4">

      <h3 class="comments-title">2 Comments</h3>
  

      <div class="comment d-flex mb-4">
        <div class="comment-img">
          <img src="/assets/paciente feedback.png" alt="User 1" class="img-fluid rounded-circle">
        </div>
        <div class="comment-content ms-3">
          <h5 class="comment-author">John Doe</h5>
          <span class="comment-date">August 29, 2024</span>
          <p class="comment-text">Este es el comentario del primer usuario. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
  


      <div class="comment d-flex mb-4">
        <div class="comment-img">
          <img src="/assets/paciente feedback.png" alt="User 2" class="img-fluid rounded-circle">
        </div>
        <div class="comment-content ms-3">
          <h5 class="comment-author">Jane Smith</h5>
          <span class="comment-date">August 28, 2024</span>
          <p class="comment-text">Este es el comentario del segundo usuario. Cras venenatis euismod malesuada.</p>
        </div>
      </div>
    </div>
  </div>


  <!-- Bloque Deja un Comentario -->

<div class="container">
    <div class="leave-comment-section">

      <!-- Título -->

      <h3 class="leave-comment-title">Deja un Comentario</h3>
  
      <!-- Formulario de Comentarios -->

      <form class="comment-form">
        <div class="row">


          <div class="col-md-4 mb-3">
            <input type="text" class="form-control" placeholder="Nombre">
          </div>
          <div class="col-md-4 mb-3">
            <input type="email" class="form-control" placeholder="Correo">
          </div>
          <div class="col-md-4 mb-3">
            <input type="text" class="form-control" placeholder="Página Web">
          </div>
        </div>
  
        <!-- Comentario -->

        <div class="mb-3">
          <textarea class="form-control" rows="5" placeholder="Your Comment"></textarea>
        </div>
  
        <!-- Boton comentario -->

        <div class="text-center">
          <button type="submit" class="btn btn-primary">Postear Comentario</button>
        </div>
      </form>
    </div>
  </div>