.blog-header {
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
    color: white;
  }
  
  .blog-title1 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .breadcrumb {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  .breadcrumb-item a {
    color: white; 
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;
  }
  
  .breadcrumb-item a:hover {
    color: #793cd4; 
  }
  
  .breadcrumb-item.active {
    color: #ccc;
  }
  
  .text-end {
    text-align: right !important;
  }
  
  .col-md-6.text-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .blogs-section {
    padding: 5rem 0;
  }
  
  .blog-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 2rem;
    cursor: pointer;
  }
  
  .blog-image {
    position: relative;
  }
  
  .blog-image img {
    width: 100%;
    height: auto;
  }
  
  .blog-date {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    flex-direction: column; 
    text-align: center;
  }
  
  .day-block, .month-block {
    width: 60px; 
  }
  
  .day-block {
    background-color: #926ee1; 
    color: #fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .month-block {
    background-color: #efefef; 
    color: #2e2e2e;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .day {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .month {
    font-size: 1rem;
    text-transform: uppercase;
  }
  
  .blog-content {
    padding: 20px;
  }
  
  .blog-title {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #333;
  }
  
  .blog-description {
    font-size: 1.1rem;
    color: #777;
    margin-bottom: 15px;
  }
  
  .read-more {
    color: #007bff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .read-more:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  /* Controlador de Página */

  .pagination {
    margin-top: 2rem;
  }
  
  .page-link {
    color: #808081;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }
  
  .page-link:hover {
    background-color: #9f6ce2;
    color: #fff;
    border-radius: 5px;
  }
  
  .page-item.disabled .page-link {
    color: #6c757d;
  }
  
  .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    border-radius: 5px;
  }