<section class="best-doctor">
    <div class="container">

      <div class="row">
        <div class="col-12 text-center mb-5">
          <h2 class="section-title">
            Meet Our <span class="text-highlight">Best Doctors</span>
          </h2>
          <p class="section-subtitle">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </p>
        </div>
      </div>
      

      <div class="row">
        <div class="col-md-4">
          <div class="doctor-card">
            <div class="doctor-image">
              <img src="/assets/imagen nuestro servicios.png" alt="Doctor Image" class="img-fluid">
            </div>
            <div class="doctor-info">
              <h4 class="doctor-name">Dr. pedro doe</h4>
              <p class="doctor-specialty">Cardiologist</p>
            </div>
            <div class="doctor-social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="doctor-card">
            <div class="doctor-image">
              <img src="/assets/imagen nuestro servicios.png" alt="Doctor Image" class="img-fluid">
            </div>
            <div class="doctor-info">
              <h4 class="doctor-name">Dr. jane</h4>
              <p class="doctor-specialty">Neurologist</p>
            </div>
            <div class="doctor-social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="doctor-card">
            <div class="doctor-image">
              <img src="/assets/imagen nuestro servicios.png" alt="Doctor Image" class="img-fluid">
            </div>
            <div class="doctor-info">
              <h4 class="doctor-name">Dr. toby</h4>
              <p class="doctor-specialty">Pediatrician</p>
            </div>
            <div class="doctor-social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      

      <div class="row">
        <div class="col-12 text-center mt-4">
          <a href="#" class="btn btn-primary btn-all-doctors">All Doctors</a>
        </div>
      </div>
    </div>
  </section>