
.appointment-header {
    background-color: #1d77de;
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
    color: white;
  }
  
  .appointment-title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .breadcrumb {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
    font-size: 1.1rem; 
    display: flex;
    justify-content: flex-end; 
    transition: all .3s;
  }
  
  .breadcrumb-item a {
    color: white;
    cursor: pointer;
  }

  .breadcrumb-item a:hover {
    color: #6639c6; 
  }
  
  .breadcrumb-item.active {
    color: #ccc;
  }
  
  .text-end {
    text-align: right !important;
  }

  .col-md-6.text-end {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
  }

  .appointment-form-section {
    background-color: #f8f9fa;
    padding: 4rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: #333;
    text-align: left;
  }
  
  .appointment-form .form-control {
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #b8b8b8; 
    margin-bottom: 1.5rem;
    resize: none;
  }
  
  .appointment-form .form-control:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  }

  ::placeholder{
    color: rgb(163, 163, 163);
  }
  
  .appointment-form .submit-btn {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.6rem 2.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 0rem;
    display: inline-block;
    color: white; 
    border-radius: 5px;
  }
  
  .appointment-form .submit-btn:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
    color: white; 
  }


  .subscribe-section {
    background-color: #f8f9fa;
    padding: 3rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .subscribe-title {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .subscribe-text {
    font-size: 1.1rem;
    color: #555;
  }
  
  .form-control {
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc; 

  }
  
  .btn-primary {
    background-color: #a3a5a7;
    border-color: #727374;
    padding: 0.75rem;
    font-size: 1rem;
    text-transform: uppercase;
  }
  
  .btn-primary:hover {
    background-color: #4b4c4d; 
    border-color: #4b4c4d; 
    color: white;
  }