
.about-header {
    background-size: cover;
    background-color: #1d77de;
    background-position: center;
    padding: 3rem 0;
    color: white;
  }

  .about-section{
    margin-top: -3rem;
  }
  
  .about-title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .breadcrumb {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
    font-size: 1.1rem !important;
    display: inline-block; 
  }
  
  .breadcrumb-item a {
    color: white;
    cursor: pointer;
    transition: all .3s;
  }

  .breadcrumb-item a:hover {
    color: #6639c6; 
  }
  
  .breadcrumb-item.active {
    color: #ccc;
  }
  
  .about-section {
    padding: 4rem 0;
  }


  .breadcrumb {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
    font-size: 1.25rem; 
  }

  .breadcrumb-item {
    display: inline-block; 
  }
  
  .breadcrumb-item a {
    color: white;
  }
  
  .breadcrumb-item.active {
    color: #ccc;
  }
  
  .text-end {
    text-align: right !important; 
  }
  
  .col-md-6.text-end {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
  }

  .patient-feedback{
    margin-top: -5rem;
    margin-bottom: 2rem;
  }

  @media (max-width: 992px) {
    .subscribe-section .row {
      justify-content: center;
      gap: 1rem;
    }
  
    .subscribe-section .col-md-6,
    .subscribe-section .col-md-4,
    .subscribe-section .col-md-2 {
      flex: 1 1 100%; 
      max-width: 100%; 
      margin-bottom: 1rem; 
    }

    .subscribe-section .col-md-2{
      display: flex;
      justify-content: flex-start;
    }
  
    .btn-primary {
      padding: 0.5rem;
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 576px) {
    .patient-feedback{
      width: 90%;
      margin: auto;
      margin-top: -13rem;
      margin-bottom: 2rem;
    }

    .subscribe-section .row {
      flex-direction: column;
      align-items: center;
    }

    .subscribe-section .col-md-6 {
      text-align: left;
      width: 90%; 
    }
  
    .subscribe-title {
      font-size: 1.5rem;
    }
  
    .subscribe-text {
      font-size: 1rem;
      margin-bottom: 1rem;
      margin: auto;
    }
  
    .form-control,
    .btn-primary {
      width: 90%; 
      margin: auto;
      max-width: 400px; 
    }
  
    .btn-primary {
      font-size: 0.9rem;
    }


  }