<header class="service-details-header" style="background-image: url('/assets/imagen header about us.png');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h1 class="service-details-title">Detalles del Servicio</h1>
        </div>
        <div class="col-md-6 text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
              <li class="breadcrumb-item"><a routerLink="/servicios">Servicios</a></li>
              <li class="breadcrumb-item active" aria-current="page">Detalles del Servicio</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </header>


  <section class="service-detail-section">
    <div class="container">
      <div class="row">

        <div class="col-md-12 mb-4">
          <img src="/assets/imagen servicio-detalle.png" alt="Service Detail Image" class="img-fluid">
        </div>
        

        <div class="col-md-12">
          <div class="overview-title">
            <h2>Resúmen</h2>
          </div>
          <div class="overview-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet nisi nec arcu fermentum, in commodo eros gravida. Vivamus suscipit fermentum sem, a volutpat enim gravida at. Morbi eget vehicula ligula.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

 <!--  -->
  <section class="description-section py-5">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="description-title">
            <h2>Descripción</h2>
          </div>
        </div>
  

        <div class="col-md-12">
          <div class="description-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet nisi nec arcu fermentum, in commodo eros gravida. Vivamus suscipit fermentum sem, a volutpat enim gravida at. Morbi eget vehicula ligula.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  

 <section class="related-services-section py-5">
  <div class="container">
    <div class="row">
      <!-- Bloque de Título -->
      <div class="col-md-12">
        <div class="related-services-title">
          <h2>Servicios relacionados</h2>
        </div>
      </div>

      <!-- Bloque de Servicios Relacionados -->
      <div class="col-md-6 mb-4">
        <div class="related-service-box">
          <!-- Imagen -->
          <div class="service-image">
            <img src="/assets/imagen galeria.png" alt="Related Service Image" class="img-fluid">
          </div>
          <!-- Contenido -->
          <div class="service-content">
            <h3 class="service-title">Service Title 1</h3>
            <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#" class="read-more">Leer más...</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="related-service-box">
          <!-- Imagen -->
          <div class="service-image">
            <img src="/assets/imagen galeria.png" alt="Related Service Image" class="img-fluid">
          </div>
          <!-- Contenido -->
          <div class="service-content">
            <h3 class="service-title">Service Title 2</h3>
            <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#" class="read-more">Leer más...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="subscribe-section">
   <app-suscribers/>
  </section>
