.cta-section {
  background: linear-gradient(90deg, #8ddccc, #68afd6, #9b59b6);
  color: white;
  padding: 0;
  position: relative;
  margin-top: 4rem;
  height: 180px;
  display: flex;
  align-items: center;
}

.franja-img {
  position: absolute;
  bottom: -41px;
  left: 70px;
  z-index: 2;
  max-width: 400px;
}

.cta-title {
  font-size: 2.2rem;
  font-weight: bold;
  color: rgb(223, 226, 226);
  margin: 0;
}

.btn-cta {
  background-color: transparent;
  border: 2px solid rgb(223, 226, 226);
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 25px;
  color: rgb(223, 226, 226);
  text-decoration: none;
  transition: all .5s;
}

.btn-cta:hover {
  background-color: rgb(223, 226, 226);
  color: rgb(55, 55, 55);
}

.container {
  height: 100%;
}

.row {
  height: 100%;
}


/* Responsivos */

@media (max-width: 992px) {
  .cta-section {
    height: 150px;
  }

  .cta-title {
    font-size: 1.8rem;
  }

  .franja-img {
    max-width: 300px; 
    left: 50px;
    top: -120px;
  }

  .btn-cta {
    font-size: 1rem;
  }
}


@media (max-width: 768px) {
  .cta-section {
    height: 120px;
  }

  .cta-title {
    font-size: 1.5rem;
  }

  .franja-img {
    max-width: 240px; 
    left: 30px;
    top: -96px;
  }

  .btn-cta {
    padding: 12px;
    font-size: .9rem;
  }
}


@media (max-width: 490px) {
  .cta-section {
    margin-top: 7rem;
    height: 125px;
  }

  .cta-title {
    font-size: 1.3rem;
    display: none;
  }

  .franja-img {
    max-width: 290px; 
    top: -108%;
    left: -35px;
  }

  .btn-cta {
    margin-left: -100%;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
}