.cta-section {
  background: linear-gradient(90deg, #8ddccc, #68afd6, #9b59b6);
  color: white;
  padding: 0;
  position: relative;
  margin: 12rem 0rem;
  height: 150px;
  display: flex;
  align-items: center;
}

.franja-img {
  position: absolute;
  bottom: -56px;
  left: 280px;
  max-width: 220px;
  margin-right: 0rem; 
}

.cta-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-cta {
  background-color: transparent;
  border: 2px solid rgb(223, 226, 226);
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 25px;
  color: rgb(223, 226, 226);
  text-decoration: none;
  transition: all .5s;
}

.btn-cta:hover {
  background-color: rgb(223, 226, 226);
  color: rgb(55, 55, 55);
}

/* Responsivos */
@media (max-width: 992px) {
  .cta-section {
    height: 140px;
  }

  .franja-img {
    max-width: 200px;
    bottom: -51px;
    left: 120px;
    margin-right: 0.5rem;
  }

  .btn-cta {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .cta-section {
    height: 120px;
  }

  .franja-img {
    max-width: 160px;
    bottom: -41px;
    left: 50px;
  }

  .btn-cta {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 490px) {
  .cta-section {
    margin-top: 3rem;
    height: 100px;
  }

  .franja-img {
    max-width: 110px;
    bottom: -29px;
    left: 50px;
  }

  .btn-cta {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }
}